body {
    background-color: #000;
    color: #9400D3; /* Violet sombre */
    font-family: 'Consolas', monospace;
    text-align: center;
}

h1.glitch {
    font-size: 3rem;
    color: #9400D3; /* Violet */
    text-shadow: 0px 0px 10px #9400D3;
    animation: glitch 1s infinite;
}

.writeup-list {
    list-style: none;
    padding: 0;
}

.writeup-list li a {
    color: cyan;
    font-size: 1.5rem;
    text-decoration: none;
}

.return-btn {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    color: #000;
    background: #9400D3;
    border-radius: 5px;
    text-decoration: none;
}
